@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
 
/* NavBar CSS */

#navbar{
    background-image: linear-gradient(red, black);
    width: 100vw;
    /* position: fixed; */
    
}

a{
    text-decoration: none;
    color: white;
}

HTML{
    scroll-behavior: smooth;
    transition: all 800ms ease;
    
}

body{
    overflow-x: hidden;
}

.title{
    font-size: 48px;
    text-align: center;
    color: white;
}

.sub_title{
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px ;
    color: white;
    
}

.logo__size{
    font-size: 48px;
}

.nav__size{
    font-size: 24px;
}

.nav__link{
    padding: 0 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: white;
}

/* Landing CSS */

#landing{
    display: flex;
    flex-direction: column;
    padding: 155px 0;
    


}

.landing__left{
    width: 50%;
    float: left;
    
}

.landing__left-img{
    width: 100%;
}

.landing__right{
    width: 50%;
    float: right;
}

.landing__content{
    font-size: 52px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
}

.landing__para{
    text-align: center;
    font-size: 24px;
    color: red;
}

.landing__both{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Us CSS */

#AboutUs{
    background-image: linear-gradient(red, black);
    display: flex;
    flex-direction: column;
    padding: 72px;
}

.aboutus__left{
    float: left;
    width: 50%;
}

.about__para{
    text-align: center;
    color: white;
    font-size: 24px;
}


.about__para--supply{
    text-align: center;
    list-style-type: none;
    color: white;
    font-size: 24px;
}

.about__us-img{
    width: 100%;
}

.aboutus_right{
    float: right;
    width: 50%;
}

/* Gallery CSS */

#Gallery{
    display: flex;
    flex-direction: column;
    padding: 72px 0;
}

.title_gallery{
    color: black;
}

.gallery__img{
    width: 100%;
}

.gallerylist:hover .gallery__img{
    transform: scale(1.05) ;
}

.gallery__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    
    
}

.gallerylist{
    display: flex;
    width: calc(100%/3);
    /* position: relative; */
}

/* Contact Us CSS */

#contactUs{
    background-image: linear-gradient(black, red);
    display: flex;
    flex-direction: column;
    padding: 72px;
}

.contact__para{
    font-size: 24px;
    text-align: center;
    color: white;
    padding-bottom: 24px;
}

.form{
   display: flex;
   flex-direction: column;
}

.form__wrapper{
    padding: 20px;
    text-align: center;
}

.form__wrapper .form{
    padding-bottom: 15px;
}

.form__wrapper label{
    display: block;
    color: white;
}

.form__wrapper input[type = "text"]{
    padding: 8px;
    width: 100%
}

.form__wrapper textarea{
    padding: 30px;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    
}

.form__wrapper input[type = "submit"]{
    background-color: white;
    color: black;
    padding: 10px 15px;
}

/* Footer CSS */

#footer{
    background-color: black;
    padding: 72px;
}

.footer_section{
    display: flex;
    justify-content: center;
    color: white;
}

.footer__section--list{
    padding: 0 12px;
    width: calc(100%/3);
}

.footer__links{
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

@media (max-width: 1024px){

    nav {
        width: 100vw;
    }

    .landing__both{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .aboutus__left{
        width: 100%;
    }

    .aboutus_right{
        width: 100%;
    }

    .gallerylist{
        width: calc(100%/2);
    }
    
    .gallery__img{
        width: 100%;
    }

}


@media (max-width: 840px){

    #navbar {
        width: 100vw;
          
    }

    .logo__size{
        font-size: 32px;
        }
    

    .nav__links{
        font-size: 16px;
    }

    .landing__both{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .landing__content{
        font-size: 32px;
        text-align: center;
    }

    .landing__para{
        font-size: 24px;
        text-align: center;
    }

    .landing__left-img{
        width: 100%;
        margin: 0 auto;
       
    }

    .title{
        font-size: 30px;
    }

    .sub_title{
        font-size: 18px;
    }

    .aboutus__left{
        width: 100%;
    }

    .aboutus_right{
        width: 100%;
    }

    .title{
        font-size: 32px;
    }

    .sub_title{
        font-size: 28px;
    }

    .about__para{
        font-size: 24px;
    }

    .about__para--supply{
        font-size: 24px;
    }

    .gallerylist{
        width: calc(100%/2);
    }
    
    .gallery__img{
        width: 100%;
    }

    
    .footer_section{
        display: flex;
        flex-wrap: wrap;
        
    }

    .footer__section--list{
        width: calc(100%/2);
        padding: 12px 0;
        text-align: center;
    }

}

@media (max-width: 480px){

   HTML{
    overflow-x: hidden;
   }
   
    #navbar {
        width: 100vw;
          
    }

    .nav__links{
        display: none;
    }

    .logo__size{
        font-size: 20px;
    }
    

    .landing__both{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .landing__content{
        font-size: 20px;
        text-align: center;
    }

    .landing__para{
        font-size: 12px;
        text-align: center;
    }

    .landing__left-img{
        width: 100%;
        margin: 0 auto;
       
    }

    .title{
        font-size: 30px;
    }

    .sub_title{
        font-size: 18px;
    }

    .aboutus__left{
        width: 100%;
    }

    .aboutus_right{
        width: 100%;
    }

    .about__para{
        font-size: 16px;
    }

    .about__para--supply{
        font-size: 16px;
    }
    
    .gallerylist{
        width: calc(100%/1);
    }
    
    .gallery__img{
        width: 100%;
    }

    .contact__para{
        font-size: 18px;
    }

    .form__wrapper{
        width: 100%;
        text-align: center;
    }

    .footer_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__section--list{
        width: calc(100%/1);
        padding: 12px 0;
        text-align: center;
    }

    
}

